[submodule "styles/vendor/pigeon"]
	path = styles/vendor/pigeon
	url = git@github.com:rowanmanning/pigeon.git
	branch = master
[submodule "styles/vendor/font-awesome"]
	path = styles/vendor/font-awesome
	url = git@github.com:FortAwesome/Font-Awesome.git
	branch = master
