@import url('../vendor/csstools/sanitize.css/sanitize.css');
@import url('https://fonts.googleapis.com/css?family=Open+Sans:600|Montserrat&display=swap');

html {
    cursor: inherit;
    font-family: 'Montserrat', sans-serif;
    font-size: 12pt;
    color: #24292e;
}

main {
    margin: 3rem auto;
    max-width: 720px;
    padding: 0 2rem;
}

article + article,
section + section,
article + section {
    border-top: 2px solid #eaecef;
    margin-top: 1.67em;
    padding-top: .67em;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Open Sans', sans-serif;
    font-weight: 600;
}

h1 {
    border-bottom: 2px solid #eaecef;
    font-size: 2.4rem;
    padding-bottom: .67em;
}

h4 small {
    font-family: 'Montserrat', sans-serif;
}

small {
    font-size: 75%;
}

p {
    line-height: 1.5rem;
}

a[href] {
    text-decoration: none;
    border-bottom: 1px solid;
}

a[href]:hover {
    border-bottom: 2px solid;
}

span[aria-label] {
    cursor: default;
}

a.ref-github { color: #4078c0; }
a.ref-linkedin { color: #0077b5; }
a.ref-cv { color: #FF3A61; }
a.ref-monzo { color: #ED5656; }
a.ref-otrl { color: #5B388A; }
a.ref-graze { color: #00989e; }
a.ref-300notes { color: #CF4647; }
a.ref-bnt { color: #3BB200; }
a.ref-fullycharged { color: #5D8199; }
a.ref-keybase { color: #fc8558; }

ol.work {
    margin: 0;
    padding-inline-start: 0;
}

ol.work li {
    list-style: none;
}

ol.work li aside {
    font-weight: normal;
    font-size: .67em;
}

.hidden {
    visibility: hidden;
    display: none;
}

@media screen and (max-width: 34em) {
    h1 {
        text-align: center;
    }
}

@media print {
    html {
        font-size: 10pt;
    }
}
